* {
	color: @main-fg;
}

.module {
	margin-bottom: -1px;
}

#waybar {
	background-color: @outline;
}
#waybar > box {
	margin: 1px;
	background-color: @main-bg;
}

button {
	border-radius: 16px;
	min-width: 16px;
	padding: 0 5px;
}
button:hover {
	background-color: @hover-bg;
	color: @hover-fg;
}

tooltip {
	border: 1px solid @main-br;
	border-radius: 10px;
	background-color: @main-bg;
}
tooltip > box {
	padding: 0 6px;
}
