@define-color workspace_urgent @white;
@define-color workspace_urgent_background @brred;

#workspaces button.urgent {
  background: @workspace_urgent_background;
  color: @workspace_urgent;
  border-radius: 5px;
}
